<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.apocgame" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Apocalyptic Idle</name>
  <description>Idle clicker apocalypse survival game.</description>
  <author email="you@example.com" href="https://yourwebsite.com">Your Name</author>
  <content src="index.html" />
  <preference name="Fullscreen" value="true" />
  <preference name="Orientation" value="portrait" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
</widget>